
/*logo colors: #FFD4A3 #00586E #F17F6A
  others: #E8C195 #006E8A*/
/* the light blue with dark blue: #9ECBF7
/* background: ##FFF1E1
/* base styles, feel free to edit */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-family:'Montserrat', 'Roboto', sans-serif;
    color: #00586E;
}
* {
    box-sizing: border-box;
}

/* ┌────────────────────────────────────────────────────────────────┐ */
/* │                      Popup and Overlay                         │ */
/* └────────────────────────────────────────────────────────────────┘ */
.popup-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    /*display: flex;*/
    align-items: center;
    align-content: center;
    justify-content: center;
    display: none;
    /*display: block;*/
}
.popup {
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 40px;
    background-color: #EBECF0;
    box-shadow:  inset 2px 2px 5px #cbced1, inset -5px -5px 10px white;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}
.x-close {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
}
.error-message {
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    overflow-wrap: break-word;
    hyphens: manual;
}

/* ┌────────────────────────────────────────────────────────────────┐ */
/* │                 Start Page (Login and Register)                │ */
/* └────────────────────────────────────────────────────────────────┘ */
.start-page {
    width:100%;
    height: 100%;
    background: #ffffff;
    box-shadow: 14px 14px 20px #FFD4A3, -14px -14px 20px white;
}
.start-container, .start-logo, .login-container.login-input-box {
    display: flex;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}
.start-container {
    height: 100%;
    flex-direction: column;
    align-content: stretch;
    color: #00586E;
}
.start-logo {
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}
.logo-style {
    object-fit: contain;
    max-height: 80px;
    border-radius: 30px;
}
.login-register-container {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.input-box {
    text-align: left;
    padding: 0 25% 10px 25%;
    box-sizing: border-box;
}
label, input {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
label {
    margin: 10px 0;
    font-weight: bold;
}
label:nth-of-type(2) {
    margin-top: 12px;
}
input::placeholder {
    color: #fafafa;
}
input {
    background: #FFFDF7;
    padding: 10px 10px 10px 20px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    margin: 0 10px;
    box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
}
.start-page-button {
    width: fit-content;
    height: fit-content;
    letter-spacing: 2px;
    font-weight: 500;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 10px;
    box-shadow: 0 8px 15px #FFD4A3;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
}
.start-page-button:hover {
    background-color: #006E8A;
    box-shadow: 0 15px 20px #9ECBF7;
    color: #fff;
    transform: translateY(-7px);
}
.center {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    height: fit-content;
    width: 100%;
}


/* ┌───────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │                                          Main Paige                                       │ */
/* └───────────────────────────────────────────────────────────────────────────────────────────┘ */

.main-container {
    /*display: grid;*/
    display: none;
    grid-gap: 10px;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 50px 1fr;
    height: 100%;
    width: 100%;
    gap: 0;
    grid-template-areas:
        "header header"
        "sidebar main";
    background-color: #FAFAFA;
    box-sizing: border-box;
}

/* ┌────────────────────────────────────────────────────────────────┐ */
/* │                               Header                           │ */
/* └────────────────────────────────────────────────────────────────┘ */

.main-page-header {
    height: 100%;
    width: 100%;
    grid-area: header;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
}
.main-page-logo {
    object-fit: contain;
    max-height: 50px;
    border-radius: 20px;
}
/* ┌────────────────────────────────────────────────────────────────┐ */
/* │                      Main Page Channel Box Container           │ */
/* └────────────────────────────────────────────────────────────────┘ */
.main {
    grid-area: main;
    display: grid;
    grid-template-rows: 40px 3fr 1fr;
    margin: 0 20px;
    border-radius: 20px;
    padding: 40px;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    box-sizing: border-box;
}

/* ┌────────────────────────────────────────────────────────────────┐ */
/* │                              Sidebar                           │ */
/* └────────────────────────────────────────────────────────────────┘ */

.sidebar {
    grid-area: sidebar;
    padding: 20px 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #ecf0f3;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 10px 5px 10px #BABECC;
    box-sizing: border-box;
}
.sidebar-items {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
}
button.channel-label {
    border: 0;
    outline: 0;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding: 5px;
    background-color: #E1EEFF;
    text-shadow: 1px 1px 0 #FAFAFA;
    box-sizing: border-box;
    color: #61677C;
    font-weight: bold;
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
button.channel-label:hover {
    box-shadow: inset 4px 2px 3px #C8D4E3;
}
button.channel-label:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
button.icon {
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #FFEDD4;
    text-shadow: 1px 1px 0 #FAFAFA;
    box-sizing: border-box;
    color: #61677C;
    font-weight: bold;
    box-shadow: -5px -5px 10px #FFF, 3px 3px 10px #FFD4A3;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
button.icon:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #CCAA83;
}
button.icon:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
.channels-container {
    display: flex;
    /*display: none;*/
    width: 100%;
    height: fit-content;
    flex-direction: column;
    background: #F7FCFF;
    box-shadow: inset 2px 2px 3px #BABECC, inset -1px -1px 2px #FFF;
    padding: 10px;
    box-sizing: border-box;
}
button.channel {
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding: 5px;
    background-color: #EBECF0;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    width: 100%;
    color: #00586E;
    font-size: 12px;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.channel:hover, .channel:focus {
    background-color: #C8D4E3;
    color: #00586E;
    font-weight: bold;
}

textarea {
    display: block;
    width: 100%;
}


span.a {
    color: #006E8A;
    font-weight: bold;
}

span.a:hover {
    color: #E8C195;
    cursor: pointer;
}


.channel-label {
    width: 90%
}

.channel {
    width: 100%;
    border: none;
    background-color: #FFD4A3;
    height: 30px;
    color: black;
    text-overflow: ellipsis;
    font-size: 10px;
    cursor: pointer;
    box-sizing: border-box;
    display: none;
}

.create-channel-box {
    display: block;
    width: fit-content;
}



.channel-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid darkgrey;
    margin-top: 10px;
}

li {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    gap: 5px;
}

li:hover {
    background-color: beige;
    cursor: pointer;
}

.channel-messages-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    overflow: scroll;
}

.channel-text-container {
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    gap: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}

.text-box-container {
    display: block;
    width: 100%;
    min-height: 50px;
    height: fit-content;
    box-sizing: border-box;
}

.channel-text-box-image {
    width: 100%;
    height:fit-content;
    display: inline-flex;
    justify-content: flex-start;
}

.text-box-image {
    max-width: 50px;
    object-fit: contain;
}

.sent-channel-message {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.channel-popup {
    height: 300px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: white;
    border: 2px solid #006E8A;
    padding: 20px;
}

.user-profile-popup {
    width: 300px;
    height: fit-content;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #FFD4A3;
    box-sizing: border-box;
}

.user-photo-container {
    max-width: 100%;
    max-height: fit-content;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid darkgrey;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.user-profile-icon {
    height: 25px;
    width: 20px;
    object-fit: contain;
    alignment: center;
}

.user-profile-photo {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    object-fit: contain;
    margin-bottom: 10px;
}

.user-profile-body {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
}

.profile-header-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
}

.profile-box {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}

input.profile {
    width: 150px;
    height: 15px;
}

.profile-body-box {
    display: inline-flex;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
}

.profile-name-box {
    width: fit-content;
    max-width: 120px;
    border: 1px solid black;
    height: fit-content;
    max-height: 150px;
}

.profile-bio-box {
    width: fit-content;;
    max-width: 120px;
    border: 1px solid black;
    height: fit-content;
    max-height: 150px;
}

.channel-popup-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    border-bottom: 1px solid darkgrey;
    height: fit-content;
    padding-bottom: 10px;
}

.channel-pop-body {
    display: flex;
    flex-direction: column;
    height: 230px;
    overflow: auto;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: #E8C195;
}

.member-info-box {
    /*display: none;*/
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-left: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

.member-info-box:hover {
    cursor: pointer;
    background-color: beige;
}

.profile-pic {
    vertical-align: center;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

.about-container {
    /*display: none;*/
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.about-info-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
    height: fit-content;
    overflow-wrap: break-word;
    hyphens: manual;
}

.name-hide {
    display: none;
}

.description-hide {
    display: none;
    float: right;
}

.description-box {
    display: block;
    width: 100%;
    height: fit-content;
    min-height: 50px;
    background-color: #fafafa;
    border: 1px solid black;
    margin-bottom: 5px;
}

.description-box:hover {
    background-color: #FFD4A3;;
}

.description-box:hover + .description-hide {
    display: block;
}

.description-box:focus {
    background-color: #FFD4A3;;
}

.description-box:focus + .description-hide {
    display: block;
}

.channel-name-container {
    display: flex;
    width: fit-content;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    height: 100%;
}
.channel-name {
    max-width: 300px;
    min-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
    border: none;
    background-color: #fafafa;
}

.channel-name:hover {
    border-bottom: 1px solid #FFD4A3;
}
.channel-name:hover + .name-hide {
    display: block;
}

.channel-name:focus {
    border-bottom: 1px solid #E8C195;
}

.channel-name:focus + .name-hide {
    display: block;
}

.message-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 5px;
}

.member-message-box {
    width: 100%;
    height: fit-content;
    background-color: #fafafa;
}

.member-message-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    margin: 10px 0;
}

.emoji-reactions-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: fit-content;
    width: 100%;
    justify-content: flex-end;
    padding: 0 10px;
    box-sizing: border-box;
    visibility: hidden;
}


.emoji-style {
    object-fit: contain;
    height: 100%;
    width: 30px;
}

.user-message-container {
    width: 100%;
    height: fit-content;
    display: inline-grid;
    grid-template-columns: 1fr 7fr;
    box-sizing: border-box;
    gap: 10px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #FFD4A3;
}

.user-message-profile {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    height: fit-content;
}

.user-channel-photo {
    max-height: 100px;
    object-fit: contain;
}

.user-main-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    row-gap: 10px;
}

.user-message-name, .user-message, .user-reactions, .user-message-photo {
    width: 100%;
    height: fit-content;
}

.user-message-photo {
    width: 100%;
    display: inline-flex;
    height: fit-content;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.user-reactions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 5px;
    border-radius: 10px;
    background-color: #E8C195;
}


.emoji-container, .reacted-emoji {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.reacted-emoji {
    border: 1px solid #006E8A;
}

.message-info-container {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    width: 100%;
    gap: 10px;
}

/** custom scrool bar */
/* Track width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fafafa;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #FFD4A3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E8C195;
}