
/*logo colors: #FFD4A3 #00586E
  others: #E8C195 #006E8A*/
/* base styles, feel free to edit */
html, body {
    overflow: auto;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.popup-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    display: none;
    /*display: block;*/
}
.start-page {
    width:100%;
    height: 100%;
}

.popup {
    height: fit-content;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: white;
    border: 2px solid #006E8A;
    padding: 10px;
}

.x-close {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
}

.error-message {
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    overflow-wrap: break-word;
    hyphens: manual;
}

.start-container {
    position: relative;
    margin: auto auto 20px auto;
    padding-top: 60px;
    max-width: 400px;
    width: 100%;
}

.start-logo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 0 20px 0;
    height: 80px;
    width: 100%;
}

.input-box {
    margin: auto auto 20px auto;
    padding: 0 20px;
    max-width: 250px;
}

input, select, option {
    display: block;
    width: 100%;
    height: 20px;
}

textarea {
    display: block;
    width: 100%;
}

.center {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    height: fit-content;
    width: 100%;
}

span.a {
    color: #006E8A;
    font-weight: bold;
}

span.a:hover {
    color: #E8C195;
    cursor: pointer;
}
.main-container {
    display: none;
    grid-gap: 10px;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 50px 1fr;
    height: 100%;
    gap: 0;
    grid-template-areas:
        "header header"
        "sidebar main";
}

.header {
    grid-area: header;
    background-color: antiquewhite;
}

.sidebar {
    grid-area: sidebar;
    overflow: auto;
    background-color: azure;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    width: 100%;
    background-color: #006E8A;
    color: white;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    font-size: 10px;
    border: 1px solid white;
    cursor: pointer;
}

.sidebar-items:hover {
    background-color: #E8C195;
}

.icon {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}
.icon:hover {
    background-color: #fafafa;
}

.channel-label {
    width: 90%
}

.channels-container {
    /*display: flex;*/
    display: none;
    width: 100%;
    height: fit-content;
    flex-direction: column;
}

.channel {
    width: 100%;
    border: none;
    background-color: #FFD4A3;
    height: 30px;
    color: black;
    text-overflow: ellipsis;
    font-size: 10px;
    cursor: pointer;
    box-sizing: border-box;
}

.channel:hover, .channel:focus {
    font-weight: bold;
    background-color: #E8C195;
}

.create-channel-box {
    display: block;
    width: fit-content;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-rows: 40px 3fr 1fr;
    background-color: #fafafa;
    margin: 0 20px;
    box-sizing: border-box;
}

.channel-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid darkgrey;
    margin-top: 10px;
}

li {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    gap: 5px;
}

li:hover {
    background-color: beige;
    cursor: pointer;
}

.channel-messages-container {
    display: block;
    width: 100%;
    background-color: #FFD4A3;
}

.channel-text-container {
    display: block;
    background-color: #E8C195;
    width: 100%;
}

.channel-popup {
    height: 300px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: white;
    border: 2px solid #006E8A;
    padding: 20px;
}

.user-profile-popup {
    width: 300px;
    height: fit-content;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #FFD4A3;
    box-sizing: border-box;
}

.user-photo-container {
    max-width: 100%;
    max-height: fit-content;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid darkgrey;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.user-profile-icon {
    height: 25px;
    width: 20px;
    object-fit: contain;
    alignment: center;
}

.user-profile-photo {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    object-fit: contain;
    margin-bottom: 10px;
}

.user-profile-body {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
}

.profile-header-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
}

.profile-box {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}

input.profile {
    width: 150px;
    height: 15px;
}

.profile-body-box {
    display: inline-flex;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
}

.profile-name-box {
    width: fit-content;
    max-width: 120px;
    border: 1px solid black;
    height: fit-content;
    max-height: 150px;
}

.profile-bio-box {
    width: fit-content;;
    max-width: 120px;
    border: 1px solid black;
    height: fit-content;
    max-height: 150px;
}

.channel-popup-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    border-bottom: 1px solid darkgrey;
    height: fit-content;
    padding-bottom: 10px;
}

.channel-pop-body {
    display: flex;
    flex-direction: column;
    height: 230px;
    overflow: auto;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: #E8C195;
}

.member-info-box {
    /*display: none;*/
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-left: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

.member-info-box:hover {
    cursor: pointer;
    background-color: beige;
}

.profile-pic {
    vertical-align: center;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

.about-container {
    /*display: none;*/
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.about-info-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
    height: fit-content;
    overflow-wrap: break-word;
    hyphens: manual;
}

.name-hide {
    display: none;
}

.description-hide {
    display: none;
    float: right;
}

.description-box {
    display: block;
    width: 100%;
    height: fit-content;
    min-height: 50px;
    background-color: #fafafa;
    border: 1px solid black;
    margin-bottom: 5px;
}

.description-box:hover {
    background-color: #FFD4A3;;
}

.description-box:hover + .description-hide {
    display: block;
}

.description-box:focus {
    background-color: #FFD4A3;;
}

.description-box:focus + .description-hide {
    display: block;
}

.channel-name-container {
    display: flex;
    width: fit-content;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    height: 100%;
}
.channel-name {
    max-width: 300px;
    min-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
    border: none;
    background-color: #fafafa;
}

.channel-name:hover {
    border-bottom: 1px solid #FFD4A3;
}
.channel-name:hover + .name-hide {
    display: block;
}

.channel-name:focus {
    border-bottom: 1px solid #E8C195;
}

.channel-name:focus + .name-hide {
    display: block;
}

.footer {
    background-color: #FFD4A3;
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

/** custom scrool bar */
/* Track width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fafafa;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #FFD4A3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E8C195;
}