
/*logo colors: #FFD4A3 #00586E #F17F6A
  others: #E8C195 #006E8A*/
/* the light blue with dark blue: #9ECBF7
/* background: ##FFF1E1
/* base styles, feel free to edit */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-family:'Montserrat', 'Roboto', sans-serif;
    color: #00586E;
}

/* ┌───────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │                                      Popup and Overlay                                    │ */
/* └───────────────────────────────────────────────────────────────────────────────────────────┘ */

.popup-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    /*display: flex;*/
    align-items: center;
    align-content: center;
    justify-content: center;
    display: none;
    /*display: block;*/
}
.popup {
    display: flex;
    max-width: 350px;
    height: fit-content;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding: 20px 40px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 20px;
    background: #F7FCFF;
}
.close-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.popup-close {
    border-radius: 5px;
    padding: 5px;
    background-color: #FFEDD4;
    box-shadow: 3px -3px 10px #FFD4A3;;
    box-sizing: border-box;
    cursor: pointer;
}

/* ┌────────────────────────────────────────────────────────────────┐ */
/* │                      Error Message Popup                       │ */
/* └────────────────────────────────────────────────────────────────┘ */
/*.x-close {*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*    width: 100%;*/
/*    height: fit-content;*/
/*    margin-bottom: 10px;*/
/*}*/
.error-message {
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    overflow-wrap: break-word;
    hyphens: manual;
}

/* ┌────────────────────────────────────────────────────────────────┐ */
/* │                        Channel Details Popup                   │ */
/* └────────────────────────────────────────────────────────────────┘ */

.channel-popup-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    gap: 20px;
    border-bottom: 1px solid darkgrey;
    height: fit-content;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 25px;
    box-sizing: border-box;
}
.channel-pop-body {
    display: flex;
    width: 100%;
    padding: 10px 5px;
    flex-direction: column;
    height: 230px;
    overflow: auto;
    margin-top: 10px;
    box-sizing: border-box;
    background: #FFF;
    box-shadow: #32325D3F 0 6px 12px -2px, #0000004C 0 3px 7px -3px;
}
.channel-popup-field {
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    border-radius: 8px;
    background-color: #FFEDD4;
    box-sizing: border-box;
    cursor: pointer;
}
.channel-description-box {
    display: block;
    width: 100%;
    height: fit-content;
}
.description-box {
    display: block;
    width: 100%;
    height: fit-content;
    min-height: 50px;
    background-color: #fafafa;
    margin: 5px 0;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: #32325D3F 0 2px 5px -1px, #0000004C 0 1px 3px -1px;
}
.description-box:hover, .description-box:focus {
    outline: 0;
    background-color: #EBEFF2;;
}
.description-box:hover + .description-hide {
    display: block;
}
.description-box:focus + .description-hide {
    display: block;
}
.description-hide {
    display: none;
    float: right;
}
.member-info-box {
    display: none;
    /*display: flex;*/
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-left: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}
.member-info-box:hover {
    cursor: pointer;
    background-color: #FFEDD4;
}
.profile-pic {
    vertical-align: center;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
.about-container {
    /*display: none;*/
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

/* ┌────────────────────────────────────────────────────────────────┐ */
/* │                       Create Channel Popup                     │ */
/* └────────────────────────────────────────────────────────────────┘ */

.create-channel-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.create-channel-field {
    width: fit-content;
    font-size: 14px;
    padding: 5px;
    border-radius: 8px;
    background-color: #FFEDD4;
    box-sizing: border-box;
    text-overflow: ellipsis;
    font-weight: bold;
}
.create-channel-box div {
    width: 100%;
}
.create-channel-submit {
    font-weight: bold;
    font-size: 14px;
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    box-sizing: border-box;
    background-color: #E1EEFF;
    cursor: pointer;
    border-radius: 10px;
}

/* ┌────────────────────────────────────────────────────────────────┐ */
/* │                      User Profile Popup                        │ */
/* └────────────────────────────────────────────────────────────────┘ */

.user-photo-container {
    width: 100%;
    max-height: fit-content;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid darkgrey;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.upload-photo-container {
    display: inline-block;
    align-content: center;
    width: 100%;
    align-items: center;
}
.user-profile-photo {
    height: 150px;
    width: 150px;
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: -3px -3px 10px #BABECC, 3px 3px 10px #BABECC;
    box-sizing: border-box;
}
.user-profile-icon {
    height: 25px;
    width: 20px;
    object-fit: contain;
    alignment: center;
}
.user-profile-body {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
}
.profile-body-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
}
.profile-name-box {
    width: fit-content;
    max-width: 120px;
    font-size: 20px;
    font-weight: bold;
    height: fit-content;
    max-height: 150px;
    text-overflow: ellipsis;
}
.profile-bio-box {
    width: fit-content;;
    max-width: 120px;
    height: fit-content;
    font-size: 14px;
}
.edit-profile-box {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}
input.profile {
    width: 150px;
    height: 15px;
}

/* ┌────────────────────────────────────────────────────────────────┐ */
/* │                      Edit Message Popup                        │ */
/* └────────────────────────────────────────────────────────────────┘ */

.edit-message-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.edit-message-container div {
    display: block;
    width: 100%;
    max-height: 200px;
    min-height: 50px;
    box-sizing: border-box;
    overflow: auto;
}
.uploaded-message {
    width: 100%;
    min-height: 50px;
    height: fit-content;
}
.uploaded-photo {
    object-fit: contain;
    max-width: 60px;
    max-height: 60px;
    background: #FFF;
    cursor: pointer;
}
.image-area {
    margin-top: 10px;
    position: relative;
    padding: 10px;
    display: block;
    max-height: fit-content;
    max-width: fit-content;
}
.remove-image {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    padding: 5px;
    background: #FFE5DF;
    z-index: 2;
}
.remove-image:hover {
    background: #F0D6D1;
    cursor: pointer;
}
.edit-message-box {
    display: block;
    max-height: 100px;
    width: 100%;
    height: fit-content;
    min-height: 50px;
    background-color: #fafafa;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: #32325D3F 0 2px 5px -1px, #0000004C 0 1px 3px -1px;
}
.edit-message-box:hover, .edit-message-box:focus {
    outline: 0;
    background-color: #EBEFF2;;
    overflow: auto;
}

/* ┌───────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │                            Start Page (Login and Register)                                │ */
/* └───────────────────────────────────────────────────────────────────────────────────────────┘ */

.start-page {
    width:100%;
    height: 100%;
    background: #ffffff;
    box-shadow: 14px 14px 20px #FFD4A3, -14px -14px 20px white;
}
.start-container, .start-logo, .login-container.login-input-box {
    display: flex;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}
.start-container {
    height: 100%;
    flex-direction: column;
    align-content: stretch;
    color: #00586E;
}
.start-logo {
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}
.logo-style {
    object-fit: contain;
    max-height: 80px;
    border-radius: 30px;
}
.login-register-container {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.input-box {
    text-align: left;
    padding: 0 25% 10px 25%;
    box-sizing: border-box;
    color: #00586E;
}
label, input {
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: #00586E;
}
label {
    margin: 10px 0;
    font-weight: bold;
}
label:nth-of-type(2) {
    margin-top: 12px;
}
.login-register::placeholder {
    color: #fafafa;
}
.login-register {
    background: #FFFDF7;
    padding: 10px 10px 10px 20px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    margin: 5px 0 10px 20px;
    box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    box-sizing: border-box;
}
.start-page-button {
    width: fit-content;
    height: fit-content;
    letter-spacing: 2px;
    font-weight: 500;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 10px;
    color: #00586E;
    box-shadow: 0 8px 15px #FFD4A3;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
}
.start-page-button:hover {
    background-color: #006E8A;
    box-shadow: 0 15px 20px #9ECBF7;
    color: #fff;
    transform: translateY(-7px);
}
.center {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    height: fit-content;
    gap: 10px;
    width: 100%;
}
span.a {
    color: #006E8A;
    font-weight: bold;
}
span.a:hover {
    color: #E8C195;
    cursor: pointer;
}

/* ┌───────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │                                          Main Paige                                       │ */
/* └───────────────────────────────────────────────────────────────────────────────────────────┘ */

.main-container {
    /*display: grid;*/
    display: none;
    grid-gap: 10px;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 50px 1fr;
    height: 100%;
    width: 100%;
    gap: 0;
    grid-template-areas:
        "header header"
        "sidebar main";
    background-color: #FAFAFA;
    box-sizing: border-box;
}

/* ┌────────────────────────────────────────────────────────────────┐ */
/* │                               Header                           │ */
/* └────────────────────────────────────────────────────────────────┘ */

.main-page-header {
    height: 100%;
    width: 100%;
    grid-area: header;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px 50px;
    box-sizing: border-box;
}
.main-page-logo {
    object-fit: contain;
    max-height: 50px;
    border-radius: 20px;
}
.user-photo {
    object-fit: contain;
    max-width: 30px;
    max-height: 30px;
    background: #FFF;
    cursor: pointer;
    border: 1px solid black;
}
.right-side-container {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

/* ┌────────────────────────────────────────────────────────────────┐ */
/* │                   Main Page Channel Screen Container           │ */
/* └────────────────────────────────────────────────────────────────┘ */
.main {
    grid-area: main;
    display: grid;
    grid-template-rows: 40px 3fr 1fr;
    margin: 0 20px;
    border-radius: 20px;
    padding: 40px 40px 20px 40px;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1;
    box-sizing: border-box;
}

/* ┌────────────────────────────────────────────────────────────────┐ */
/* │                              Sidebar                           │ */
/* └────────────────────────────────────────────────────────────────┘ */

.sidebar {
    grid-area: sidebar;
    padding: 20px 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #ecf0f3;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 10px 5px 10px #BABECC;
    box-sizing: border-box;
}
.sidebar-items {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
}
button.channel-label {
    border: 0;
    outline: 0;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding: 5px;
    background-color: #E1EEFF;
    text-shadow: 1px 1px 0 #FAFAFA;
    box-sizing: border-box;
    color: #00586E;
    font-weight: bold;
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
button.channel-label:hover {
    box-shadow: inset 4px 2px 3px #C8D4E3;
}
button.channel-label:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
button.icon {
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #FFEDD4;
    text-shadow: 1px 1px 0 #FAFAFA;
    box-sizing: border-box;
    color: #61677C;
    font-weight: bold;
    box-shadow: -5px -5px 10px #FFF, 3px 3px 10px #FFD4A3;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
button.icon:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #CCAA83;
}
button.icon:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
.channels-container {
    display: flex;
    /*display: none;*/
    width: 100%;
    height: fit-content;
    flex-direction: column;
    background: #F7FCFF;
    box-shadow: inset 2px 2px 3px #BABECC, inset -1px -1px 2px #FFF;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
}
button.channel {
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding: 5px;
    background-color: #EBECF0;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    width: 100%;
    color: #00586E;
    font-size: 12px;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: none;
}
.channel:hover, .channel:focus {
    background-color: #C8D4E3;
    color: #00586E;
    font-weight: bold;
}

/* ┌────────────────────────────────────────────────────────────────┐ */
/* │                       Channel Screen                           │ */
/* └────────────────────────────────────────────────────────────────┘ */

.channel-header {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}
.channel-name-container {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding: 30px;
    border-radius: 5px;
    box-shadow: #88A5BF7A 6px 2px 16px 0, #FFF -6px -2px 16px 0;
    box-sizing: border-box;
}
.channel-name-container:hover {
    background-color: #FFF;
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #88A5BF7A;
    display: flex;
}
.channel-name {
    color: #00586E;
    max-width: 200px;
    min-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: fit-content;
    outline: none;
    border: none;
    font-size: 25px;
    background-color: transparent;
    box-sizing: border-box;
}
.name-hide {
    display: none;
}
.channel-name:hover + .name-hide {
    display: block;
}
.channel-name:focus + .name-hide {
    background-color: #FFF;
    display: block;
}
.channel-nav-container {
    display: inline-flex;
    height: 100%;
    gap: 10px;
    align-items: center;
    align-content: center;
}
.channel-nav-item {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
}
.channel-nav-item:hover {
    background-color: #FFEDD4;;
    box-shadow: #FFD4A3 0 5px 15px 0;
}
.channel-messages-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
}
.member-message-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
}
.emoji-reactions-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: fit-content;
    width: 100%;
    justify-content: flex-end;
    padding: 0 10px;
    box-sizing: border-box;
    visibility: hidden;
}
.emoji-container, .reacted-emoji {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    height: fit-content;
}
.message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 5px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #FFEDD4;
}
.user-message-container {
    width: 100%;
    height: fit-content;
    display: inline-grid;
    grid-template-columns: 1fr 7fr;
    gap: 10px;
    box-sizing: border-box;
}
.user-main-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    row-gap: 10px;
    box-sizing: border-box;
}
.user-message-name, .user-message, .user-reactions, .user-message-photo {
    width: 100%;
    height: fit-content;
}
.user-message-name {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #00586E;
    padding-bottom: 5px;
    box-sizing: border-box;

    cursor: pointer;
}
.user-message {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin: 0 20px;
    background: #FFF;
    border-radius: 10px;
    box-sizing: border-box;
}
.user-channel-photo {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
    border-radius: 10px;
    cursor: pointer;
}
.user-reactions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 5px;
    border-radius: 10px;
    background-color: #FFE6CC;
    box-sizing: border-box;
}
.message-info-container {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
}
.icon, .pinned {
    cursor: pointer;
}
.emoji-style {
    object-fit: contain;
    height: 100%;
    width: 30px;
    cursor: pointer;
}
.user-message-profile {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    height: fit-content;
    cursor: pointer;
    box-sizing: border-box;
}

/* ┌────────────────────────────────────────────────────────────────┐ */
/* │                          Text Box                              │ */
/* └────────────────────────────────────────────────────────────────┘ */
.channel-text-container {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: transparent;
    box-shadow: #88A5BF7A 6px 2px 16px 0, #FFF -6px -2px 16px 0;
    transition: all 0.2s ease-in-out;
}
.text-box-container {
    display: block;
    width: 100%;
    min-height: 50px;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: #CCDBE8FF 3px 3px 6px 0 inset, #FFF -3px -3px 6px 1px inset;
}
.channel-text-box-image {
    width: 100%;
    height:fit-content;
    display: inline-flex;
    justify-content: flex-start;
}
.text-box-image {
    max-width: 100px;
    object-fit: contain;
    border-radius: 10px;
}
.channel-message-footer {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.upload-photo {
    padding: 5px;
    gap: 5px;
    display: inline-flex;
    border-radius: 5px;
    background-color: #FFF;
    box-sizing: border-box;
    color: #61677C;
    font-weight: bold;
    box-shadow: -5px -5px 10px #FFF, 3px 3px 10px #FFD4A3;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.upload-photo:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #CCAA83;
}
.sent-message {
    padding: 5px;
    gap: 5px;
    display: inline-flex;
    border-radius: 5px;
    background-color: #FFEDD4;
    box-sizing: border-box;
    color: #61677C;
    font-weight: bold;
    box-shadow: -5px -5px 10px #FFF, 3px 3px 10px #FFD4A3;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.sent-message:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #CCAA83;
}


/* ┌───────────────────────────────────────────────────────────────────────────────────────────┐ */
/* │                                  Custom Scroll Bar                                        │ */
/* └───────────────────────────────────────────────────────────────────────────────────────────┘ */
/* Track width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fafafa;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #FFD4A3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E8C195;
}